.footer_section {
    background-color: rgb(34, 34, 34);
    box-sizing: border-box;
    color: rgb(216, 213, 213);
    font-size: 1em;
    margin: 0;
    padding: 0;
    
}
pre {
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
pre:hover {
    color: gold;
}
@media (max-width: 1000px ) {
    .footer_section {
        font-size: 0.9em;
    }
}
@media (max-width: 400px ) {
    .footer_section {
        font-size: 0.8em;
    }
}
@media (max-width: 270px) {
    .footer_section {
        font-size: 0.7em;
    }
}
